### Introduction

In [1]:
import requests
response = requests.get('https://data.texas.gov/resource/naix-2893.json?location_address=2411%20GLENNA%20GOODACRE%20BLVD')
results = response.json()

In [3]:
import pandas as pd
results_df = pd.DataFrame(results)

In [4]:
top_three = results_df[0:3]

In [5]:
top_three.columns

Index(['beer_receipts', 'cover_charge_receipts',
       'inside_outside_city_limits_code_y_n', 'liquor_receipts',
       'location_address', 'location_city', 'location_county', 'location_name',
       'location_number', 'location_state', 'location_zip',
       'obligation_end_date_yyyymmdd', 'responsibility_begin_date_yyyymmdd',
       'tabc_permit_number', 'taxpayer_address', 'taxpayer_city',
       'taxpayer_county', 'taxpayer_name', 'taxpayer_number', 'taxpayer_state',
       'taxpayer_zip', 'total_receipts', 'wine_receipts'],
      dtype='object')

In [6]:
beer_and_liquor_df = results_df[['beer_receipts', 'liquor_receipts', 'total_receipts']].apply(pd.to_numeric)

In [7]:
beer_receipts = beer_and_liquor_df['beer_receipts'].to_numpy()

In [8]:
beer_receipts

array([114, 115, 158, 208, 378, 409, 153, 346, 504, 162, 187, 515, 442,
       103, 429, 278, 158,   0,   0, 538, 297, 590, 438, 398, 115,   0,
       129, 535, 208, 313, 407,  93, 498, 394, 308, 615, 354, 381, 175,
       251, 160, 378, 517, 337, 460, 394, 196, 211, 323, 148, 149,  88,
       204, 777, 508, 128, 244, 251, 266, 381, 115, 147, 165, 434, 516,
       256, 396, 218, 315, 235, 160, 149, 187, 559, 410, 292, 650,  86,
       530, 142, 194, 187, 205, 527, 143, 584,  92, 249, 267, 171, 472,
       385, 643, 455, 185,  97, 367, 342, 497, 527, 310, 387])

In [9]:
liquor_receipts = beer_and_liquor_df['liquor_receipts'].to_numpy()

In [10]:
liquor_receipts

array([ 76, 137, 116, 147, 631, 560, 116,  81, 261, 147, 249, 615, 787,
        69, 682,  27,  78,   0,   0, 327, 334, 815, 409, 445,  31,   0,
       183, 302, 204, 656, 761,  59, 937, 185, 144, 315, 480, 602, 175,
       297, 163, 357, 935, 167, 189, 662, 241,  78, 189, 144, 114, 121,
        95, 514, 248, 118, 178, 161, 349, 486,  76, 128, 329, 252, 319,
       213, 488, 168, 595, 251, 139, 159, 161, 275, 319, 334, 340, 133,
       288,  75,  76, 172, 380, 252, 111, 342, 151, 280, 166, 149, 167,
       482, 302, 185, 185,  78, 383, 531, 180, 234, 144, 149])

In [11]:
total_reciepts = beer_and_liquor_df['total_receipts'].to_numpy()

### Working with Vectors in Numpy

First, let's use our knowledge of numpy and vectors to select specific data.

Start by selecting the first three entries for liquor receipts.

In [13]:
selected_liquor = liquor_receipts[0:3] 
selected_liquor
# array([ 76, 137, 116])

array([ 76, 137, 116])

Select all but the first three entries for beer reciepts.

In [14]:
selected_beer = beer_receipts[3:]
selected_beer[0]
# 208

208

### Adding Vectors

We would like to add up the beer and liquor receipts for this chipotle location.

Calculated the combined receipts for the first three entries of liquor and beer.

In [16]:
combined_receipts = liquor_receipts[0:3] + beer_receipts[0:3]
combined_receipts
# array([190, 252, 274])

array([190, 252, 274])

We can confirm that it this combination also equals the total receipts for the first three entries.

In [17]:
total_reciepts[:3]

array([190, 252, 274])

Finally, use vector operations to calculate the difference between beer receipts and liquor receipts each month.

In [18]:
difference_of_beer_and_liquor = beer_receipts - liquor_receipts
difference_of_beer_and_liquor
# array([  38,  -22,   42,   61, -253, -151,   37,  265,  243,   15,  -62,
#        -100, -345,   34, -253,  251,   80,    0,    0,  211,  -37, -225,
#          29,  -47,   84,    0,  -54,  233,    4, -343, -354,   34, -439,
#         209,  164,  300, -126, -221,    0,  -46,   -3,   21, -418,  170,
#         271, -268,  -45,  133,  134,    4,   35,  -33,  109,  263,  260,
#          10,   66,   90,  -83, -105,   39,   19, -164,  182,  197,   43,
#         -92,   50, -280,  -16,   21,  -10,   26,  284,   91,  -42,  310,
#         -47,  242,   67,  118,   15, -175,  275,   32,  242,  -59,  -31,
#         101,   22,  305,  -97,  341,  270,    0,   19,  -16, -189,  317,
#         293,  166,  238])

array([  38,  -22,   42,   61, -253, -151,   37,  265,  243,   15,  -62,
       -100, -345,   34, -253,  251,   80,    0,    0,  211,  -37, -225,
         29,  -47,   84,    0,  -54,  233,    4, -343, -354,   34, -439,
        209,  164,  300, -126, -221,    0,  -46,   -3,   21, -418,  170,
        271, -268,  -45,  133,  134,    4,   35,  -33,  109,  263,  260,
         10,   66,   90,  -83, -105,   39,   19, -164,  182,  197,   43,
        -92,   50, -280,  -16,   21,  -10,   26,  284,   91,  -42,  310,
        -47,  242,   67,  118,   15, -175,  275,   32,  242,  -59,  -31,
        101,   22,  305,  -97,  341,  270,    0,   19,  -16, -189,  317,
        293,  166,  238])

Display the three amounts where beer sales most outpace liquor sales.

In [24]:
import numpy as np
beer_more_than_liquor = -np.sort(-difference_of_beer_and_liquor)[0:3]
beer_more_than_liquor
# array([341, 317, 310])

array([341, 317, 310])

In [21]:
liquor_more_than_beer = np.sort(difference_of_beer_and_liquor)[0:3]
liquor_more_than_beer
# array([-439, -418, -354])

array([-439, -418, -354])

### Summary

Great job!  In this lesson we practiced selecting entries from vectors, and adding vectors.