In [2]:
import pandas as pd

In [7]:
countries_data = pd.read_csv("https://raw.githubusercontent.com/ngb0330/DAV-6150/master/Datasets/factbook.csv", 
                             sep = ";", skiprows = [1])
countries_data.head()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,Afghanistan,647500,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
1,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,28748,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
3,Algeria,2381740,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
4,American Samoa,199,23.13,NaN,3.33,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,...,0.0,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.25,6.0

In [9]:
countries_data.dtypes

Country                                            object
Area(sq km)                                         int64
Birth rate(births/1000 population)                float64
Current account balance                           float64
Death rate(deaths/1000 population)                float64
Debt - external                                   float64
Electricity - consumption(kWh)                    float64
Electricity - production(kWh)                     float64
Exports                                           float64
GDP                                               float64
GDP - per capita                                  float64
GDP - real growth rate(%)                         float64
HIV/AIDS - adult prevalence rate(%)               float64
HIV/AIDS - deaths                                 float64
HIV/AIDS - people living with HIV/AIDS            float64
Highways(km)                                      float64
Imports                                           float64
Industrial production growth rate(%)              float64
Infant mortality rate(deaths/1000 live births)    float64
Inflation rate (consumer prices)(%)               float64
Internet hosts                                    float64
Internet users                                    float64
Investment (gross fixed)(% of GDP)                float64
Labor force                                       float64
Life expectancy at birth(years)                   float64
Military expenditures - dollar figure             float64
Military expenditures - percent of GDP(%)         float64
Natural gas - consumption(cu m)                   float64
Natural gas - exports(cu m)                       float64
Natural gas - imports(cu m)                       float64
Natural gas - production(cu m)                    float64
Natural gas - proved reserves(cu m)               float64
Oil - consumption(bbl/day)                        float64
Oil - exports(bbl/day)                            float64
Oil - imports(bbl/day)                            float64
Oil - production(bbl/day)                         float64
Oil - proved reserves(bbl)                        float64
Population                                        float64
Public debt(% of GDP)                             float64
Railways(km)                                      float64
Reserves of foreign exchange & gold               float64
Telephones - main lines in use                    float64
Telephones - mobile cellular                      float64
Total fertility rate(children born/woman)         float64
Unemployment rate(%)                              float64
dtype: object

In [11]:
countries_data.shape

(263, 45)

In [12]:
def nas_sorted(df):
    return df.isnull().sum().sort_values(ascending = False)

In [14]:
sorted_nas = nas_sorted(countries_data)

In [15]:
sorted_nas[0:3]

Oil - imports(bbl/day)        217
Oil - exports(bbl/day)        205
Oil - proved reserves(bbl)    166
dtype: int64

In [16]:
countries_data['Labor force'].unique()

array([1.1800e+07,        nan, 1.0900e+06, 9.9100e+06, 1.4000e+04,
       3.3000e+04, 5.4100e+06, 6.0490e+03, 3.0000e+04, 1.5040e+07,
       1.4000e+06, 4.1500e+04, 1.0350e+07, 3.4500e+06, 5.0900e+06,
       1.5600e+05, 3.7000e+05, 6.5490e+07, 1.2850e+05, 4.3050e+06,
       4.7500e+06, 9.0000e+04, 3.7470e+04, 3.8000e+06, 1.0260e+06,
       2.6400e+05, 8.9000e+07, 1.2770e+04, 1.5800e+05, 3.3980e+06,
       5.0000e+06, 2.7010e+07, 2.9900e+06, 7.0000e+06, 6.6800e+06,
       1.7370e+07, 1.9820e+04, 6.2000e+06, 7.6080e+08, 2.0700e+07,
       1.4450e+05, 1.4510e+07, 8.0000e+03, 1.8100e+06, 6.7000e+06,
       1.7100e+06, 4.5500e+06, 9.5025e+04, 5.2500e+06, 2.8700e+06,
       2.8200e+05, 2.5000e+04, 4.5300e+06, 2.0710e+07, 2.7500e+06,
       6.6000e+05, 2.1500e+08, 1.1000e+03, 2.4250e+04, 1.3700e+05,
       2.6600e+06, 2.7700e+07, 5.8800e+04, 7.0000e+04, 6.5000e+05,
       4.0000e+05, 7.2500e+05, 2.1000e+06, 4.2630e+07, 1.0240e+07,
       1.4800e+04, 4.4000e+06, 2.4500e+04, 4.2300e+04, 1.2590e+05,
       6.0000e+04, 3.6800e+06, 3.2290e+04, 3.0000e+06, 4.8000e+05,
       4.1800e+05, 3.6000e+06, 2.4700e+06, 3.5400e+06, 4.1700e+06,
       1.5810e+05, 4.8220e+08, 1.1150e+08, 2.3000e+07, 1.9200e+06,
       2.6800e+06, 2.4270e+07, 1.1400e+06, 6.6970e+07, 5.2790e+04,
       1.4100e+06, 7.9500e+06, 1.1400e+07, 7.8700e+03, 9.6000e+06,
       2.2900e+07, 1.4200e+06, 2.7000e+06, 2.6000e+06, 1.1700e+06,
       8.3800e+05, 1.5900e+06, 2.9000e+04, 1.6300e+06, 2.9370e+05,
       2.3150e+05, 8.5500e+05, 7.3000e+06, 4.5000e+06, 1.0490e+07,
       8.8000e+04, 3.9300e+06, 1.6000e+05, 3.9690e+04, 2.8700e+04,
       1.6590e+05, 7.8600e+05, 5.6000e+05, 4.8800e+04, 3.4730e+07,
       1.3600e+06, 3.0540e+04, 1.4880e+06, 4.5210e+03, 1.1020e+07,
       9.2000e+06, 8.4000e+05, 1.0000e+07, 7.5300e+06, 8.9000e+04,
       7.9400e+04, 2.0500e+06, 1.9300e+06, 5.5670e+07, 1.3450e+03,
       6.0060e+03, 2.3800e+06, 9.2000e+05, 4.5430e+07, 9.8450e+03,
       1.3200e+06, 3.3200e+06, 1.1000e+07, 3.5860e+07, 1.5000e+01,
       1.7020e+07, 5.4800e+06, 1.3000e+06, 1.4000e+05, 3.0990e+05,
       9.6600e+06, 7.1830e+07, 4.6000e+06, 3.5000e+03, 1.8170e+04,
       4.3800e+04, 3.2610e+03, 6.7000e+04, 1.8500e+04, 6.6200e+06,
       4.6500e+06, 3.2000e+06, 3.0900e+04, 1.3690e+06, 2.1800e+06,
       2.2000e+06, 8.7000e+05, 2.6840e+04, 3.7000e+06, 1.6630e+07,
       1.9330e+07, 7.2600e+06, 1.0400e+05, 3.8320e+05, 4.4600e+06,
       3.7700e+06, 5.1200e+06, 1.0220e+07, 3.1870e+06, 1.9000e+07,
       3.6430e+07, 1.7400e+06, 3.3910e+04, 5.9000e+05, 3.5500e+06,
       2.5300e+07, 2.3200e+06, 4.8480e+03, 7.0000e+03, 1.2410e+07,
       2.1110e+07, 2.3600e+06, 2.9780e+07, 1.4740e+08, 1.5600e+06,
       1.4640e+07, 1.2250e+07, 4.2980e+07, 4.8900e+04, 3.6400e+05,
       1.2000e+04, 5.9800e+06, 4.6300e+06, 4.2300e+06])

In [17]:
def informative(df):
    non_informative = [column for column in df.columns if len(df[column].unique()) == 1]
    informative_columns = list(set(df.columns.to_list()) - set(non_informative))
    return df[informative_columns]
    
def some_nans(df):
    informative_df = informative(df)
    some_nans_bools = pd.isnull(informative_df).any()
    return some_nans_bools.index[some_nans_bools]
    
def new_na_columns(df):
    nan_columns = some_nans(df)
    df_nans = pd.isnull(df[nan_columns])
    column_name_nas = ["{column_nan}_is_na".format(column_nan = column_nan) for column_nan in nan_columns]
    df_nans.columns = column_name_nas
    return df_nans

def new_df_with_na_cols(df):
    return pd.concat([df, new_na_columns(df)], axis = 1)

In [19]:
len(countries_data.columns)

45

In [20]:
countries_data_with_na_cols = new_df_with_na_cols(countries_data)

In [21]:
len(countries_data_with_na_cols.columns)

88

In [22]:
len(informative(countries_data).columns)

45

In [23]:
countries_data_with_na_cols.columns

Index(['Country', 'Area(sq km)', 'Birth rate(births/1000 population)',
       'Current account balance', 'Death rate(deaths/1000 population)',
       'Debt - external', 'Electricity - consumption(kWh)',
       'Electricity - production(kWh)', 'Exports', 'GDP', 'GDP - per capita',
       'GDP - real growth rate(%)', 'HIV/AIDS - adult prevalence rate(%)',
       'HIV/AIDS - deaths', 'HIV/AIDS - people living with HIV/AIDS',
       'Highways(km)', 'Imports', 'Industrial production growth rate(%)',
       'Infant mortality rate(deaths/1000 live births)',
       'Inflation rate (consumer prices)(%)', 'Internet hosts',
       'Internet users', 'Investment (gross fixed)(% of GDP)', 'Labor force',
       'Life expectancy at birth(years)',
       'Military expenditures - dollar figure',
       'Military expenditures - percent of GDP(%)',
       'Natural gas - consumption(cu m)', 'Natural gas - exports(cu m)',
       'Natural gas - imports(cu m)', 'Natural gas - production(cu m)',
       'Natural gas - proved reserves(cu m)', 'Oil - consumption(bbl/day)',
       'Oil - exports(bbl/day)', 'Oil - imports(bbl/day)',
       'Oil - production(bbl/day)', 'Oil - proved reserves(bbl)', 'Population',
       'Public debt(% of GDP)', 'Railways(km)',
       'Reserves of foreign exchange & gold', 'Telephones - main lines in use',
       'Telephones - mobile cellular',
       'Total fertility rate(children born/woman)', 'Unemployment rate(%)',
       'HIV/AIDS - deaths_is_na', 'Oil - exports(bbl/day)_is_na',
       'Internet hosts_is_na', 'Labor force_is_na',
       'Electricity - production(kWh)_is_na',
       'Life expectancy at birth(years)_is_na',
       'Current account balance_is_na',
       'Military expenditures - percent of GDP(%)_is_na',
       'Industrial production growth rate(%)_is_na',
       'Oil - consumption(bbl/day)_is_na',
       'Inflation rate (consumer prices)(%)_is_na',
       'Natural gas - imports(cu m)_is_na', 'Population_is_na',
       'Telephones - mobile cellular_is_na', 'Imports_is_na',
       'Electricity - consumption(kWh)_is_na',
       'Reserves of foreign exchange & gold_is_na',
       'Infant mortality rate(deaths/1000 live births)_is_na',
       'Natural gas - proved reserves(cu m)_is_na', 'Highways(km)_is_na',
       'Telephones - main lines in use_is_na',
       'Total fertility rate(children born/woman)_is_na',
       'Debt - external_is_na', 'GDP - per capita_is_na',
       'Oil - proved reserves(bbl)_is_na',
       'Birth rate(births/1000 population)_is_na',
       'GDP - real growth rate(%)_is_na', 'Oil - production(bbl/day)_is_na',
       'Oil - imports(bbl/day)_is_na',
       'Investment (gross fixed)(% of GDP)_is_na',
       'HIV/AIDS - adult prevalence rate(%)_is_na', 'Railways(km)_is_na',
       'Natural gas - production(cu m)_is_na', 'Public debt(% of GDP)_is_na',
       'GDP_is_na', 'Natural gas - consumption(cu m)_is_na',
       'Natural gas - exports(cu m)_is_na', 'Exports_is_na',
       'Internet users_is_na', 'Military expenditures - dollar figure_is_na',
       'Death rate(deaths/1000 population)_is_na',
       'Unemployment rate(%)_is_na',
       'HIV/AIDS - people living with HIV/AIDS_is_na'],
      dtype='object')